body {
    font-size: 12px;
}

a {
    text-decoration: none;
}

.toolbar {
    position: fixed;
    z-index: 100;
    padding: 0 10px;
    height: 40px;
    background: #000;
    opacity: .5;
    bottom: 0;
    right: 0;
    font-size: 12px;
    line-height: 40px;
}

.toolbar input {
    width: 20px;
}

.toolbar a {
    display: inline-block;
    color: #fff;
    padding: 0 5px;
}

.wrapper {
    position: relative;
}

.list {
    margin: 0 auto;
    position: relative;
}

.event {
    font-size: 0;
}

.event img {

}