.mail {
    width: 100%;
}

.envelope {
    width: 280px;
    height: 223px;
    position: relative;
    top:150px;
    margin: 0 auto;
}

.envelope:before {
    content:"";
    position: absolute;
    bottom: 64px;
    background:url('../img/envelope/before.png') no-repeat;
    background-size: 280px auto;
    width:280px;
    height: 158px;
}

.envelope:after {content:"";position:absolute;
    bottom:0px;left:0;
    background:url('../img/envelope/after.png') no-repeat;
    background-size: 280px auto;
    width: 280px;
    height: 130px;
}

.envelope.hide:after, .envelope.hide:before {
    display:none;
}

.paper {
    background: #f7f2ec url('../img/envelope/letter_bg.png');
    background-size: 200px auto;
    position:relative;
    top: 100px;
    overflow: hidden;
    height: 100px;
    width: 200px;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
}

.paper p {
    text-shadow:0 1px 0 #fff;
    font-size:14px;
    padding: 0;
    margin: 0;
}
