.love {
    width: 110px;
    height: 84px;
    margin: 0 auto;
}
.love .lr_f {
    padding-right: 24px;
}
.love .lr_s {
    padding-right: 12px;
}
.love .rr_f {
    padding-left: 12px;
}
.love  .left, .right{
    display: inline-block;
    height:84px;
    float: left;
}
.love  .left{
    width:60px;
}
.love  .right{
    width:50px;
}

.love  div>div{
    display:block;
    height:12px;
}
.love div>div>div{
    width:10px;
    height:10px;
    background-color:red;
    display:inline-block;
    float:right;
    margin:1px;
}
.love div.right>div>div{
    float:left;
}